# Kafka
bootstrap.servers=pkc-e8mp5.eu-west-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=FV2CNNXHYSQK65CB
sasl.password=7GTlswRoqSneWLaF85f2LG17bQdZPXYsb0burJaIGWyczNeiqHavVakgZBn7TACy
schema.registry.url=https://psrc-xm8wx.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info="L2EMDWO2YMOXIF53":"3pmug01yCpCqj2HIJ4aTTVh5vC54qy6ZPiRp/NO3Gsgm0pU+/Vy6ZL8wGq5+F98d"



